.env
.env.local
.env.*.local
.envrc
.venv-modal

**.local**

.temp/
cache/
.vite/
dist/
node_modules/
/data/*
!/data/README.md
/outputs/
/outputs-remote**
/results-remote/
**.aux
**.log
**.out
**.toc
**.fdb**
**.fls
**.synctex.gz

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

venv

# Python
__pycache__/
*.pyc

/tmp/**

.ruff_cache/
.venv-modal/
